<div class='jumbotron' id='jumbotron'>
  <div class='container'>
    <h1 class='dev_important'>Big Earth</h1>
    <p>Software is eating the world and Big Earth is hungry.</p>
  </div>
</div>
<div id='tech_stack'>
  <div class='container'>
    <h2 class='text-center'>Big Earth Projects</h2>
    <h3 class='text-center'>Where the magic happens</h3>
    <p class='text-center'><%= link_to 'Big Earth Blockchain', 'https://blockchain.bigearth.io' %></p>
  </div>
</div>
